@import "../settings/fonts";
@import "../settings/colors";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;

  .mainBtn {
    font-size: 1.2rem;
    padding: 1rem;
    width: 11rem;
    margin: 1rem;
    background: none;
    border: 1px solid lightgrey;
  }
}

h2 {
  font-size: 1.5rem;
  margin-top: 2rem;
}

.decoration {
  margin: 2rem;
}

.description {
  line-height: normal;
  font-size: 1rem;
  text-align: center;
  margin: 1rem;
}

.tab {
  width: 60%;

  .pagination {
    display: flex;
    justify-content: center;
  }

  .orgName {
    font-size: 1.2rem;
  }

  .orgGoal {
    font-size: 0.9rem;
  }

  .orgThings {
    font-size: 0.9rem;
    opacity: 0.6;
  }

  .smallBtn {
    font-size: 1rem;
    padding: 1rem;
    width: auto;
    margin: 1rem;
    background: none;
    border: 1px solid lightgrey;
  }

  .outertab {
    display: flex;
    flex-direction: column;
    .innertab {
      display: flex;
      justify-content: space-between;
    }

    hr {
      width: 100%;
    }

    p {
      align-self: flex-start;
    }
  }
}
