@import "../settings/fonts";
@import "../settings/colors";

.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  text-align: center;
  flex-direction: column;

  // height: 100vh;
  background: linear-gradient(
      to top,
      rgba(245, 246, 252, 0.906),
      rgba(255, 255, 255, 0.93)
    ),
    url(../../assets/Background-Contact-Form.jpg);
  background-repeat: no-repeat;
  background-size: auto 100%;

  .container {
    margin-top: 10%;
    margin-bottom: 20%;
    margin-right: 10%;
    text-align: start;

    h2 {
      text-align: center;
      font-size: 2.5rem;
    }

    input {
      background: none;
      border: none;
      border-bottom: 1px solid black;

      &::placeholder {
        opacity: 0.4;
      }
    }

    button {
      background-color: transparent;
      border: 1px solid black;
      padding: 1rem;
      margin-block: 1rem;
      font-size: 1rem;
    }

    img {
      margin: 2rem;
    }

    form {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;

      .name {
        grid-column: 1/2;
      }

      .emailInput {
        grid-row: 2/3;
        grid-column: 2/3;
      }
      .emailLabel {
        grid-row: 1/2;
        grid-column: 2/3;
      }

      .textArea {
        grid-column: 1/3;
        height: 10rem;
      }
      button {
        grid-column: 2/3;
      }
    }
  }
}
