@import "../settings/fonts";

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;

  .hero {
    width: 60%;
    object-fit: cover;
    object-position: -15vw 0;
  }
  .aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40%;
  }
  h1 {
    font-size: 2.2rem;
    margin: 0.5rem;
  }
  .decoration {
    margin: 1rem;
    width: 20vw;
  }
  .buttons {
    display: flex;
  }
  button {
    font-size: 2rem;
    height: 15vh;
    width: 16rem;
    margin: 1rem;
    background: none;
    border: 1px solid lightgrey;
    text-transform: uppercase;
    padding-inline: 2rem;
    padding-block: 1rem;
  }
}
