@import "../settings/fonts";

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;

  background: linear-gradient(
      265deg,
      rgba(255, 255, 255, 1) 25%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(../../assets/Home-Hero-Image.jpg) -50vw;
  background-attachment: fixed;
  background-repeat: no-repeat;

  .aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 10%;
    width: 40%;
  }

  h1 {
    font-size: 2.2rem;
    margin: 0.5rem;
  }
  .decoration {
    margin: 1rem;
    width: 20vw;
  }
  .buttons {
    display: flex;
  }
  button {
    font-size: 2rem;
    height: 15vh;
    width: 16rem;
    margin: 1rem;
    background: none;
    border: 1px solid lightgrey;
    text-transform: uppercase;
    padding-inline: 2rem;
    padding-block: 1rem;
    background-color: rgba(255, 255, 255, 0.727);
  }
}
