@import "../settings/fonts";
@import "../settings/colors";

.wrapper,
.container,
form {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

img {
  margin: 1rem;
}

.container {
  padding-inline: 5rem;
  padding-block: 1rem;
  background-color: lightgray;
}
form {
  align-items: flex-start;
  margin: 1rem;

  label {
    margin: 1rem;
  }

  input {
    margin: 1rem;
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 2rem;
   
    width: 100%;

    button {
      background: none;
      border: 1px solid black;
      padding: 1rem;
      background-color: rgba(250, 128, 114, 0.494);
    }

    .secButton {
      font-size: 1rem;
      background: none;
      border: 1px solid black;
      padding: 1rem;
    }
  }
}
